<%- include('../partials/header') %>
<h1>Éditer le Stock pour <%= stock.name %>
  <a href="/stock">retour</a></h1>
<form action="/stock/update" method="POST">
  <input type="hidden" name="stock_id" value="<%= stock.stock_id %>">
  <label for="quantity">Nouvelle Quantité:</label>
  <input type="number" name="quantity" value="<%= stock.quantity %>" required>
  <button type="submit">Mettre à Jour</button>
</form>
<%- include('../partials/footer') %>